
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutBase.cshtml";
}
@model HangfireSignalR.Models.TaskProperties

@section scripts
{
  <script src="/js/controller.js"></script>
}

<script>
  $(function() {
    var onHubStarted = function() {
      console.log('connection is established');
    };

    $.connection.hub.start().done(onHubStarted);

    var tasks = $.connection.tasksHub;
    tasks.client.hello = function(name) {
      console.log(name);
    };
  });
</script>

<h2>Index</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Progress</th>
      <th></th>
    </tr>
  </thead>
  <tbody ng-controller="TaskListCtrl">
    <tr ng-repeat="task in tasks">
      <td>{{task.name}}</td>
      <td>{{task.progress}}</td>
      <td>
        <button>Cancel</button>
      </td>
    </tr>
  </tbody>
</table>




@using (Ajax.BeginForm("StartTask", new AjaxOptions() {}))
{
  @Html.EditorFor(i => i.Name)
  <input type="submit"/>
}