
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutBase.cshtml";
}
@model HangfireSignalR.Models.TaskProperties

<script>
  $(function() {
    var onHubStarted = function() {
      console.log('connection is established');
    };

    $.connection.hub.start().done();

    var tasks = $.connection.tasksHub;
    tasks.client.hello = function(name) {
      console.log(name);
    };
  });
</script>

<h2>Index</h2>



@using (Ajax.BeginForm("StartTask", new AjaxOptions() {}))
{
  @Html.EditorFor(i => i.Name)
  <input type="submit"/>
}